*{
  margin: 0;
  font-family: 'Nunito', sans-serif;;
}

body{
  background-color: #1E2124
}

.app__header{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 20px;
}

.app__status{
  display: flex;
  justify-content: space-between;
}
.app{
  display: flex;
  /* justify-content: space-between;
} */
  justify-content: space-evenly;
  padding: 20px;
}

.app__left{
  flex:0.9
}

.app__dropdown{
  background-color: #1E2124;
  color: #fff;
  
}
.MuiInputBase-input {
  color: #fff !important;
}
.MuiSelect-outlined { 

 color: white !important;
}
@media (max-width:990px) {
  
 .app{
   flex-direction: column;
 }
}


.Graph{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

}

.app__right{
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph{
  flex-grow: 1;
}